body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('lib/dancefloor.jpg');
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineDance{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.simple{
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 25px;
}
.pokemon{
  width: 100px;
  position: relative;
}

